@font-face {
  font-family: "Cera-Regular-Desktop", sans-serif;
  font-weight: 400;
  src: url("../fonts/Cera-Regular-Desktop.otf") format('otf');
}

@font-face {
  font-family: "Cera-Bold-Desktop", sans-serif;
  font-weight: 700;
  src: url("../fonts/Cera-Bold-Desktop.otf") format('otf');
}