
.main {
  margin-top: 6.25rem;
}
.marathon {
  margin-bottom: 5.3rem;
}
.marathon__inner {
  width: 56.7% !important;
}
.marathon__logos {
  margin-bottom: 4rem;
}
.marathon__logo1 {
  margin-right: 5rem;
}
.marathon__img {
  margin-top: 1.375rem;
}
.marathon__pic {
  max-width: 517px !important;
  width: 100%;
  max-height: 660px;
  border-radius: 15px;
}
.marathon__descr_title {
  font-size: 8.1rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #3054CF;
}
.marathon__descr_subtitle {
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 2.375rem;
  color: #3054CF;
}
.marathon__descr_text1 {
  max-width: 620px;
  width: 100%;
  font-size: 1.56rem;
  line-height: 1.87rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #3054CF;
}
.text-orange {
  color: #FF7900;
}
.marathon__descr_text2 {
  max-width: 610px;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.43rem;
  font-weight: 400;
  color: #3054CF;
}

/*section quiz*/
.quiz{
  display: flex;
  gap: 15px;
}
.quiz-2 {
  display: flex;
  gap: 15px;
  margin-top: 15px !important;
}
.quiz__descr {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.475rem;
  margin-left: 1rem;
  color:#fff;
}

.victorina {
  max-width: 183px;
  width: 100%;
  height: 183px;
  background-color: #2355CF;
  border-radius: 10px;
  cursor: pointer;
}
.quiz__descr-victorina {
  max-width: 115px;
  width: 100%;
  margin-top: 1.875rem;
  margin-left: 1rem;
}
.date {
  display: inline-block;
  margin-top: 19px;
  margin-left: 1rem;
  padding: 2px 10px;
  background-color: #fff;
  border-radius: 50px;
  color: #000;
}
.donor-day {
  max-width: 274px;
  width: 100%;
  height: 183px;
  background-color: #73B0FF;
  border-radius: 10px;
  cursor: pointer;
}
.donor-day-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.donor-day-inner-img {
  position: relative;
  top: -1.4375rem;
  max-width: 174px;
  width: 100%;
  height: auto;
}
.quiz__descr-donor-day {
  margin-top: 4rem;
}
.volunteer-day {
  width: 100%;
  height: 280px;
  background: url("/img/4.png");
  background-size: 439px;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius: 10px;
  cursor: pointer;
}
.volunteer-day-inner {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.quiz__descr-volunteer-day {
  max-width: 143px;
  width: 100%;
  margin-top: 3rem;
}
.eco-day {
  width: 18.6% !important;
  height: 125px;
  background-color: #FF7900;
  border-radius: 10px;
  cursor: pointer;
}
.quiz__descr-eco-day {
  margin-top: 0.625rem;
}
.eco-dictation {
  width: 100%;
  height: 269px;
  position: relative;
  top: -6.1rem;
  background:url("/img/2.png");
  padding-left: 0 !important;
  background-repeat: no-repeat;
  background-size:cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.quiz__descr-eco-dictation {
  max-width: 152px;
  width: 100%;
  margin-top: 9.625rem;
}
.charity-collection {
  max-width: 206px;
  width: 100%;
  height: 269px;
  position: relative;
  top: -6.1rem;
  background-color: #FF7900;
  border-radius: 10px;
  cursor: pointer;
}
.quiz__descr-charity-collection {
  margin-top: 5.625rem;
}
.charity-events {
  width: 31.3%;
  height: 173px;
  background-color: #73B0FF;
  border-radius: 10px;
  cursor: pointer;
}
.charity-events-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charity-events-inner-img {
  position: relative;
  top: -2.25rem;
  max-width: 155px;
  width: 100%;
  height: auto;
}
.online-webinar {
  width: 18.6% !important;
  height: 327px;
  position: relative;
  top: -9.68rem;
  background-color: #2355CF;
  border-radius: 10px;
  cursor: pointer;
}
.quiz__descr-online-webinar {
  max-width: 180px;
  width: 100%;
  margin-top: 1rem;
}
.online-webinar-img {
  position: relative;
  top: 0.12rem;
  right: -57px;
  max-width: 80%;
  width: 100%;
  height: auto;
}
/*about*/
.about {
  font-size: 1.56rem;
  line-height: 1.56rem;
  text-align: center;
  text-transform: uppercase;
  color: #3054CF;
}
.about__btn {
  max-width: 375px !important;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-bottom: 112px;
  padding: 13px 85px;
  font-size: 33px;
  background-color:#2355CF;
  color: #fff;
  text-transform: uppercase;
  border-radius: 37px;
}
.about__btn-pointer {
  position: absolute;
  top: 1.56rem;
  right: 1.25rem;
}
/*footer*/
.footer {
  height: 166px;
  background-color: #2355CF;
}
.footer__info {
  max-width: 544px;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.9rem;
  padding-top: 2.1rem;
  color: #fff;
}
.footer__info::after {
  content: '';
  display: block;
  width: 380px;
  height: 1px;
  margin-top: 5px;
  background-color: #fff;
}

/*Адаптив*/
@media(max-width: 1400px) {
  .quiz__descr {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .online-webinar-img {
    top: 3.6rem;
    right: -3.125rem;
  }
}
@media(max-width: 1200px) {
  .marathon__logos {
    margin-bottom: 2rem;
  }
  .marathon__logo1 {
    max-width: 45%;
    margin-right: 3rem;
  }
  .marathon__logo2 {
    max-width: 32%;
  }
  .marathon__descr_title {
    font-size: 5rem;
  }
  .marathon__descr_subtitle {
    font-size: 4.2rem;
  }
  .donor-day-inner-img {
    max-width: 154px;
    top: -0.3rem;
    left: -1rem;
  }
  .charity-events-inner-img {
    max-width: 38%;
    top: 0.56rem;
  }
  .date {
    margin-left: 0;
  }
  .quiz__descr {
    margin-left: 0;
  }
  .date-eco-dictation,
  .quiz__descr-eco-dictation {
    margin-left: 10px;
  }

  .online-webinar-img {
    max-width: 100%;
    top: 2rem;
    left: 0.751rem;
  }
}
@media(max-width:993px) {
  .marathon__inner {
    width: 100% !important;
  }
  .marathon__logos {
    margin-left: 6rem;
  }
  .marathon__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .marathon__descr_title {
    font-size: 8rem;
  }
  .marathon__descr_subtitle {
    font-size: 6.2rem;
  }
  .marathon__image {
    width: 75% !important;
    margin-left:6rem;
  }
  .row.quiz,
  .row.quiz-2 {
    display: flex;
    justify-content: center;
  }
  .quiz__descr-donor-day {
    margin-top: 5rem;
  }
  .volunteer-day {
    background-size: contain;
  } 
  .eco-day {
    width: 41.6% !important;
    min-height: 202px;
  } 
  .eco-dictation,
  .charity-collection {
    top: -4.8rem;
  }
  .charity-events {
    position: relative;
    top: -4.6rem;
  }
  .charity-events-inner-img {
    top: 1.05rem;
  }
  .online-webinar {
    width: 41.6% !important;
    top: -4.68rem;
    height: 177px;
  }
  .quiz__descr-online-webinar {
    max-width: 160px;
  }
  .online-webinar-img {
    max-width: 42%;
    top: -5.6rem;
    left: 10.8rem;
  }
  .footer__info {
    margin-left: 2.18rem;
  }
}